<template>
  <DrawBackground />
  <div class="foreground">
    <AppHeader class="content-width" />
    <NuxtPage class="content-width" />
  </div>
  <AppFooter></AppFooter>
</template>

<style lang="postcss">
.foreground {
  position: relative;
  z-index: 100;
}
</style>
