<template>
  <footer>
    <div class="container content-width">
      <span>Hello Worlding</span>
      <nuxt-link to="https://gitlab.com/km0/hello-worlding">git</nuxt-link>
      <nuxt-link to="https://constantvzw.org/wefts/cc4r.en.html">
        CC4r license
      </nuxt-link>
      <span>2023</span>
    </div>
  </footer>
</template>

<script setup></script>

<style lang="postcss" scoped>
footer {
  /* background-color: orange; */
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  overflow: hidden;
  .container {
    height: 200px;
    display: flex;
    align-items: flex-end;
    gap: var(--app-margin);
    margin-block: 24px;
  }
}
</style>
