<template>
  <header>
    <nuxt-link to="/">
      <AppLogo></AppLogo>
    </nuxt-link>
    <AppNav></AppNav>
  </header>
</template>

<style lang="postcss">
header {
  margin-block: 32px;
  display: flex;

  & > nav {
    margin-left: auto;
  }
}
</style>
