<template>
  <div class="app-logo">
    <Logo aria-label="Hello Worlding"> </Logo>
    <p class="subtitle">pathways through code documentation</p>
  </div>
</template>

<script setup>
import Logo from "../assets/svg/logo.svg?component";
</script>

<style lang="postcss" scoped>
.app-logo {
  display: inline-block;
  svg {
    min-width: 100%;
    width: 40vw;
    height: auto;
  }
  .subtitle {
    margin: 0;
    margin-top: -16px;
  }
}
</style>
