<template>
  <h2>Resources</h2>
  <ul class="links">
    <li v-for="link in links" :key="link.url">
      <nuxt-link :to="link.url">
        {{ link.title }}
      </nuxt-link>
    </li>
  </ul>
</template>

<script setup>
const props = defineProps(["links"]);
</script>

<style lang="postcss" scoped>
.links {
  list-style: none;
  padding: 0;

  & > * {
    margin-bottom: 1em;
    vertical-align: middle;

    &:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      background-color: var(--accent);
      margin-right: 0.5em;
    }
  }
}
</style>
