<template>
  <nav>
    <nuxt-link to="/pathways">pathways</nuxt-link>
    <nuxt-link to="/writings">writings</nuxt-link>
    <nuxt-link to="/about">about</nuxt-link>
  </nav>
</template>

<script setup></script>

<style lang="postcss">
nav {
  display: inline-flex;
  vertical-align: top;
  gap: 32px;
  justify-content: flex-end;
  align-items: flex-start;

  a {
    font-family: "Terminal Grotesque";
    font-size: 26px;
  }
}
</style>
