<template>
  <canvas ref="canvas"></canvas>
</template>

<script setup>
const { x, y } = useMouse();
const parentElement = ref(null);
const { width, height } = useWindowSize();

const canvas = ref(null);
const ctx = ref(null);

const route = useRoute();

watchThrottled((x, y), () => draw(), { throttle: 50 });

watch(route, () => {
  setCanvas();
  startPath();
});

onMounted(() => {
  if (canvas.value.getContext) {
    setCanvas();
    startPath();
  }
});

const setCanvas = () => {
  // Reset canvas size to adjust HTML scrollWidth & scrollHeight
  canvas.value.width = 0;
  canvas.value.height = 0;

  // Get html container
  parentElement.value = document.querySelector("html");

  //  Set canvas size as html container size or window size
  canvas.value.width = Math.max(parentElement.value.scrollWidth, width.value);
  canvas.value.height = Math.max(parentElement.value.scrollHeight, height.value);

  //  Get context and set color
  ctx.value = canvas.value.getContext("2d");
  ctx.value.strokeStyle = "#64B2FF";
};

const startPath = () => {
  ctx.value.clearRect(0, 0, canvas.value.width, canvas.value.height);
  ctx.value.beginPath();
  ctx.value.lineWidth = 25;
  ctx.value.lineJoin = "bevel";
};

const draw = () => {
  ctx.value.lineTo(x.value, y.value);
  ctx.value.stroke();
};
</script>

<style lang="postcss" scoped>
canvas {
  position: absolute;
  top: 0;
  left: 0;

  /* mix-blend-mode: multiply; */
  pointer-events: none;
}
</style>
