@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

@font-face {
	font-family: "Terminal Grotesque";
	src: url("/fonts/terminal-grotesque-webfont.woff2") format("woff2"),
		url("/fonts/terminal-grotesque-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
