* {
	box-sizing: border-box;
}

::selection {
	color: white;
	background-color: var(--accent);
}

html {
	position: relative;
	min-height: 100%;
}

html,
body {
	margin: 0;
	font-family: "Inter", sans-serif;
	font-size: 21px;
	line-height: 1.5;

	background-color: var(--bg);
}

body {
	margin: 0 0 200px;
}

h1,
h2,
h3 {
	font-family: "Terminal Grotesque";
}

a {
	color: currentColor;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

main {
	position: relative;
	margin-block: 96px;
}

/* Utility classes */

.content-width {
	margin-inline: auto;
	padding-inline: var(--app-margin);
	max-width: var(--content-width);
}

.paragraph-width {
	max-width: 65ch;
}

.content *:not(h1, h2, h3) a {
	display: inline-block;
	padding-inline: 0.5em;
	background-color: var(--accent);
}

.content > * {
	max-width: 80ch;
}

.content img {
	max-width: 100%;
	object-fit: contain;
	margin-block: 24px;
}

.content blockquote {
	border-left: 1em solid var(--accent);
	outline-left: 1px solid var(--bg);
	margin-left: 0;
	padding-left: 1em;
}
