<template>
  <div>Redirecting you to a faster server!</div>
</template>

<script setup>
onMounted(() => {
  navigateTo("https://project.xpub.nl/how-to-make-your-server-run-4x-faster/", {
    external: true,
  });
});
</script>

<style lang="postcss" scoped></style>
