<template>
  <main class="content-width">
    <ContentDoc v-slot="{ doc }">
      <div class="header">
        <h2>{{ doc.title }}</h2>
        <p class="description">{{ doc.description }}</p>
      </div>
      <ContentRenderer :value="doc" class="paragraph-width" />
    </ContentDoc>
  </main>
</template>

<script setup></script>

<style lang="postcss" scoped>
.header {
  margin-bottom: 64px;

  h2 {
    margin: 0;
  }

  .description {
    margin: 0;
    font-style: italic;
  }
}
</style>
