<template>
  <main>
    <ContentDoc v-slot="{ doc }">
      <div class="header">
        <div class="meta">
          <h1>{{ doc.title }}</h1>
          <p v-if="doc.description" class="description">{{ doc.description }}</p>
        </div>
        <nuxt-link class="back" to="/pathways">back</nuxt-link>
      </div>
      <ContentRenderer :value="doc" class="content" />
      <AppLinks v-if="doc.links" :links="doc.links" />
    </ContentDoc>
  </main>
</template>

<script setup></script>

<style lang="postcss" scoped>
.header {
  display: flex;
  gap: var(--app-margin);

  h1 {
    margin: 0;
  }

  .description {
    margin: 0;
  }

  .back {
    margin-left: auto;
  }
}
</style>
