<template>
  <main>
    <div class="paragraph-width">
      Hello Worlding is a network of pathways to walk through different ways to read,
      write and think with code documentation. Each pathway focuses on a particular
      approach or method to highlight the potential of code documentation to create worlds
      around the making of software.
    </div>

    <table class="pathways">
      <ContentList :query="query" v-slot="{ list }">
        <tr v-for="pathway in list" :key="pathway._path" class="pathway">
          <td class="title">
            <nuxt-link :to="pathway._path">
              <h3>{{ pathway.title }}</h3>
            </nuxt-link>
            <div class="description">{{ pathway.description }}</div>
          </td>

          <td class="tags">
            <template v-if="pathway.tags">
              <span class="tag" v-for="tag in pathway.tags">{{ tag }}</span>
            </template>
          </td>

          <td class="date">
            <template v-if="pathway.date">
              {{ pathway.date }}
            </template>
          </td>
        </tr>
      </ContentList>
    </table>
    <NuxtPage></NuxtPage>
  </main>
</template>

<script setup lang="ts">
import type { QueryBuilderParams } from "@nuxt/content/dist/runtime/types";
const query: QueryBuilderParams = { path: "/pathways", sort: [{ date: -1 }] };
</script>

<style lang="postcss" scoped>
.pathways {
  margin-block: 64px;
  border-collapse: collapse;
  width: 100%;

  td {
    margin-block: 2em;
  }

  tr {
    border-top: 1px solid currentColor;
  }

  .title {
    width: 40%;
  }

  .title h3 {
    margin: 0;
  }

  .description {
    font-size: 18px;
  }

  .tags {
    display: flex;
    gap: 16px;
    font-size: 18px;

    .tag {
      background-color: var(--bg);
      padding-inline: 0.5em;
    }
  }
}
</style>
